.c-restore {
    :host {
      display: block;
      justify-content: center;
      margin: 100px 0px;
    }
  
    .center {
      margin-top: 250px;
      display: block;
      height: 350px;
    }
  
    .links {
      margin-top: 40px;
    }
  
    .logos {
      margin-top: 100px;
    }
  
    .mat-form-field {
      width: 100%;
      min-width: 300px;
    }
    mat-card {
      background-color: #ecf0f1;
    }
  
    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
      font-family: Maven-Bold;
    }
  
    .mat-button,
    .mat-flat-button,
    .mat-icon-button,
    .mat-stroked-button .mat-raised-button {
      font-family: Univers-Condensed;
    }
    .mat-button,
    .mat-fab,
    .mat-flat-button,
    .mat-icon-button,
    .mat-mini-fab,
    .mat-raised-button,
    .mat-stroked-button {
      font-family: Univers-Condensed;
    }
  
    .button {
      display: flex;
      justify-content: flex-end;
      font-family: Univers-Condensed !important;
    }
  
    mat-form-field {
      font-family: Univers-Condensed;
    }
  
    .c-ref {
      position: relative;
      top: 15px;
    }
  }
  