<div class="container c-restore">
    <div class="row center">
        <div class="col-6 mx-auto">
            <form [formGroup]="restoreForm">
                <mat-card>
                    <mat-card-title>Restaurar contraseña</mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Correo Electrónico" formControlName="email"
                                    required>
                                <mat-error class="margin-error" *ngIf="restoreForm.controls.email.hasError('required')">
                                    El correo es obligatorio.
                                </mat-error>
                                <mat-error class="margin-error"
                                    *ngIf="restoreForm.controls.email.hasError('maxlength')">
                                    El correo debe tener menos de 45 caracteres.
                                </mat-error>
                                <mat-error class="margin-error" *ngIf="restoreForm.controls.email.hasError('pattern')">
                                    El correo no es válido.
                                </mat-error>
                            </mat-form-field>
                            <div class="row mx-auto">
                                <button [disabled]="!restoreForm.valid" class="mx-auto" type="button" color="primary"
                                    mat-raised-button (click)="restore()">Enviar</button>
                            </div>
                            <div>
                                <a mat-button class="c-ref" color="primary" href="#/login"> Iniciar Sesión</a>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>