<div class="c-navbar">
    <div class="row navbar">
        <div ngbDropdown class="text-center col-12 col-xl-1 offset-xl-11">
            <button class="toggle" id="dropdownBasic1" ngbDropdownToggle>{{ userNameInitials }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <span ngbDropdownItem>{{ userName }}</span>
                <button ngbDropdownItem (click)="logOut()">Cerrar sesión</button>
            </div>

        </div>
    </div>

</div>