.c-navbar{
    .navbar{
        color: white;
        font-size: 20px;
        background-color: #3f51b5;
        height: 50px;
        vertical-align: middle; 
        padding-top: 10px;
    }

    .toggle{
        background-color: white;
        color: #3f51b5;
        border: none;
        border-radius: 50px;
    }

      .dropdown-menu {
        left: -21px;
      }
}