<div class="c-map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 mx-auto text-center">
                <h1>JPANA MAPS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-1">
                <mat-form-field>
                    <mat-label>Rutas</mat-label>
                    <select matNativeControl required (change)='loadPointsByPointId($event.target.value)'>
                        <option value="">Seleccione una ruta</option>
                        <option value="{{route.routespk}}" *ngFor="let route of routesList">
                            {{ route.name }}</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div class="row mx-auto text-center">
            <div class="col-10 mx-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="map-container">
                                <div class="map-frame">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 mx-auto">
                <button mat-raised-button (click)="createRoute()" color="primary">Crear ruta</button>
                <div *ngIf="createRouteFlag">
                    <div>
                        <span>Ingrese un nombre y al menos 2 puntos en el mapa.</span>
                        <br>
                        <input type="text" placeholder="Nombre de la ruta" [(ngModel)]="routeName">
                        <div *ngFor="let point of routesListToCreate">
                            <span>Punto: Lat= {{ point.latitude}} Long={{ point.longitude }}</span>
                            <hr>
                        </div>
                        <button mat-raised-button *ngIf="routesListToCreate.length > 1" (click)="saveRoute()"
                            color="primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>