.c-map{
    .map-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 30px;
      }
      
      .map-frame {
        border: 2px solid ;
        height: 70vh;
      }
      
      #map {
        height: 100%;
      }

      .div-routes{
        padding-top: 30px;
      }

}