.c-login {
  font-size: 18px;

    :host {
      display: block;
      justify-content: center;
      margin: 100px 0px;
    }
  
    .main-title{
      margin-top: 30px;
      margin-bottom: 0px;
      color: #0a97d9;
      font-family: Maven-Bold;
    }
  
    .img-title{
      margin-top: 15px;
      margin-bottom: 10px;
    }
  
    .center {
      margin-top: 10px;
      display: block;
      height: 350px;
    }
  
    .links {
      margin-top: 40px;
    }

    .mat-form-field {
      width: 100%;
      min-width: 300px;
    }
    mat-card {
      background-color: #ecf0f1;
      box-shadow: 0 0 50px #000;
      margin-top: 100px;
    }
  
    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
      font-family: Maven-Bold;
    }
  
    .btn {
      display: flex;
      justify-content: flex-end;
      font-family: Univers-Condensed !important;
    }
  
    .btn-login {
      margin-top: 2%;
    }
  
    mat-form-field {
      font-family: Univers-Condensed;
    }

    @media only screen and (max-width: 768px) {
        .center {
            margin-top: 10px;
            display: block;
            height: 150px;
          }

    }

    @media only screen and (max-width: 425px) {
        .center {
            margin-top: 10px;
            display: block;
            height: 100%;
          }

          form{
              padding: 10px;
          }

          mat-card {
            background-color: #ecf0f1;
            box-shadow: 0 0 50px #000;
            margin-top: 100px;
            width: 100%;
          }

          .mat-form-field {
            width: 100%;
            min-width: 30px;
          }

          .col-6{
              max-width: 100%;
          }

    }
  
    
  }
  