<div class="container c-login">
    <div class="row center">
        <div class="col-6 mx-auto">
            <mat-card>
                <mat-card-title>Iniciar Sesión</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <form [formGroup]="loginForm">
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="text" matInput placeholder="Nombre de usuario"
                                        formControlName="userName" autocomplete="username" required>
                                    <mat-error class="margin-error"
                                        *ngIf="loginForm.controls.userName.hasError('required')">
                                        El nombre de usuario es obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="password" matInput placeholder="Contraseña"
                                        formControlName="password" autocomplete="current-password" required>
                                    <mat-error class="margin-error"
                                        *ngIf="loginForm.controls.userName.hasError('required')">
                                        La contraseña es obligatoria.
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <div class="row">
                                <button [disabled]="!loginForm.valid" class="mx-auto btn-login" type="button"
                                    color="primary" mat-raised-button (click)="login()">Ingresar</button>
                            </div>
                            <div class="links">
                                <a mat-button routerLink="/reset-password">¿Olvidó su Contraseña?</a>
                                <a mat-button routerLink="/create">Crear cuenta</a>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>