<h1>Actualizacion de datos en Sistema Administrador de Hojas Metodológicas (SAHM).</h1>

<p>Por favor diríjase al siguiente enlace para confirmar la actualización de su cuenta de correo electrónico:</p>
<a href="<%= verifyHref %>">Confirmar correo electrónico en el SAHM</a>
<br>
<p>Muchas gracias.</p>
