<h1>Gracias por ingresar al Sistema Administrador de Hojas Metodológicas (SAHM).</h1>

<p>Por favor diríjase al siguiente enlace para confirmar su cuenta de correo electrónico:</p>
<a href="<%= verifyHref %>">Confirmar correo electrónico en el SAHM</a>
<br>
<p>Muchas gracias.</p>
