<div class="container c-create">
    <div class="row center">
        <div class="col-6 mx-auto">
            <mat-card>
                <mat-card-title>Crear usuario</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <form [formGroup]="createForm">
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="text" matInput placeholder="Nombre"
                                        formControlName="name" autocomplete="username" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.name.hasError('required')">
                                        El nombre es obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="text" matInput placeholder="Primer Apellido"
                                        formControlName="firstLastName" autocomplete="none" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.firstLastName.hasError('required')">
                                        El primer apellido es obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="text" matInput placeholder="Segundo Apellido"
                                        formControlName="secondLastName" autocomplete="none" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.secondLastName.hasError('required')">
                                        El segundo apellido es obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="text" matInput placeholder="Nombre de usuario"
                                        formControlName="userName" autocomplete="none" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.userName.hasError('required')">
                                        El nombre de usuario es obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="password" matInput placeholder="Contraseña"
                                        formControlName="password" autocomplete="new-password" minlength="8" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.password.hasError('required')">
                                        La contraseña es obligatoria.
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="password" matInput
                                        placeholder="Repetir contraseña" formControlName="passwordRepeat"
                                        autocomplete="new-password" minlength="8" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.passwordRepeat.hasError('required')">
                                        Repetir la contraseña.
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="email" matInput placeholder="Correo Electrónico"
                                        formControlName="email" autocomplete="email" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.email.hasError('required')">
                                        El correo electrónico es obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="email" matInput placeholder="Número telefónico"
                                        formControlName="phoneNumber" autocomplete="tel" required>
                                    <mat-error class="margin-error"
                                        *ngIf="createForm.controls.phoneNumber.hasError('required')">
                                        El número telefónico es obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field>
                                    <mat-label>Sexo:</mat-label>
                                    <mat-select formControlName="sex">
                                        <mat-option [value]="0">
                                            Mujer
                                        </mat-option>
                                        <mat-option [value]="1">
                                            Hombre
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>



                            <p>
                                <mat-form-field>
                                    <input class="form-control" type="email" matInput placeholder="Fecha de nacimiento"
                                        formControlName="birthDay" required>
                                </mat-form-field>
                            </p>

                            <div class="row">
                                <button [disabled]="!createForm.valid" class="mx-auto btn-login" type="button"
                                    color="primary" mat-raised-button (click)="create()">Ingresar</button>
                            </div>
                            <div class="links">
                                <a mat-button routerLink="/login">Ya tengo cuenta.</a>
                                <a mat-button routerLink="/reset-password">Olvidé mi Contraseña.</a>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>