h1{
    font-size: 20px;
}

.container {
    width: 20%;
    text-align: center;
    table-layout: fixed;
    border: solid 1px;
    background-color: #DADFE3;
    box-shadow: 0 0 15px #000;
    margin-top: 30px;
}

.row{
    width: 100%;
}

.mr-20{
    margin-right: 40%;
}

.ml-20{
    margin-left: 40%;
}

.table{
    text-align: -webkit-center;
    width: 100%;
}

table{
    width: 100%;
    height: 300px;
    background-color: #505050;
    color: white;
    text-align: center;
}

#calendario{
    width: 100%;
    text-align: center;
    display: inline-block;
}

#anterior{
    -text-decoration: none;
    padding: 4px;
    color: #000;
    background-color: #d4e8f1;
    border-radius: 10px;
    border: 1px solid #56B885;
    cursor: pointer; 
    font-size: 14px;
    float: left;
}

.col-3{
    width: 30%;
    display: inline-block
}

#posterior{
    -text-decoration: none;
    padding: 4px;
    color: #000;
    background-color: #d4e8f1;
    border-radius: 10px;
    border: 1px solid #56B885;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

.button{
    width: 50px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #000;
    background-color: #d4e8f1;
    border-radius: 10px;
    border: 1px solid #56B885;
    cursor: pointer;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.button-buscar{
    cursor: pointer;
}

.day{
    margin: 10px;
}


#fechaactual {
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

select, input{
    border-radius: 10px;
    border: solid 1px;
}

input{
    border: solid 1px;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 80%;
        text-align: center;
        table-layout: fixed;
        border: solid;
    }
    
    .row{
        width: 100%;
    }
    
    .mr-20{
        margin-right: 10%;
    }
    
    .ml-20{
        margin-left: 10%;
    }
  }

  @media only screen and (max-width: 425px) {
    .container {
        width: 90%;
        text-align: center;
        table-layout: fixed;
        border: solid;
    }
    
    .row{
        width: 100%;
    }
    
    .mr-20{
        margin-right: 5%;
    }
    
    .ml-20{
        margin-left: 5%;
    }
  }