<div class="container mr-20 ml-20">
    <h1>Mi calendario - José García</h1>
    <div class="row">
        <div id="buscafecha">
            <form action="#" id="buscar">
                <p><span>Buscar:</span> mes:
                    <select name="buscames" id="buscames">
                        <option value="0">Enero</option>
                        <option value="1">Febrero</option>
                        <option value="2">Marzo</option>
                        <option value="3">Abril</option>
                        <option value="4">Mayo</option>
                        <option value="5">Junio</option>
                        <option value="6">Julio</option>
                        <option value="7">Agosto</option>
                        <option value="8">Septiembre</option>
                        <option value="9">Octubre</option>
                        <option value="10">Noviembre</option>
                        <option value="11">Diciembre</option>
                    </select>
                    Año:
                    <input type="text" name="buscaanno" maxlength="4" size="4">

                    <input class="button-buscar" type="button" value="BUSCAR" (click)="miFecha()">
                </p>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="calendario">
            <div class="col-3">
                <div id="anterior" (click)="mesAntes()"></div>
            </div>
            <div class="col-3">
                <div id="posterior" (click)="mesDespues()"></div>
            </div>
        </div>
        <div class="day">
            <span id="titulos"></span>
        </div>
    </div>

    <div class="row">
        <div class="table">
            <table>
                <tr id="fila0">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr id="fila1">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila2">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila3">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila4">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila5">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila6">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div id="fechaactual" onclick="window.onload()"><i>Hoy : </i></div>
        </div>
    </div>
</div>

<div class="row"> <a class="button" href="../">Volver</a></div>