.c-portafolio{
    color: #fff;
    width: 100%;
    height: auto;
    background: url("../../assets/images/wallpaper21.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    transition: all 5s;

    mat-card-content{
        font-size: 20px;
    }

    .divisor{
        margin-top: 30px;
        margin-bottom: 30px;

        .divisor{
            margin-top: 12px;
            margin-bottom: 15px;
            h2{
                margin-left: 10px;
            }
        }
    }

    .image{
        border: solid #000;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin-top: 10px;
    }

    .content{
        margin-top: 70px;
    }

    .footer{
        color: white;
        height: 90px;
    }
}
