<div class="c-portafolio">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-6 mx-auto">
                <h1>Introducción al desarrollo de páginas web</h1>
                <h2>José García</h2>
                <h2>Verano 2019</h2>
            </div>
        </div>
        <div class="row divisor">
            <div class="col-12 col-xl-6 divisor">
                <mat-card>
                    <div class="row">
                        <mat-card-title>
                            <h2>Sobre mí:</h2>
                        </mat-card-title>
                        <div class="col-12 col-xl-3 text-center">
                            <img class="image" mat-card-image src="./assets/images/yo.jpg" alt="Imagen de José García">
                        </div>
                        <div class="col-12 col-xl-5">
                            <mat-card-content class="content">
                                <ul>
                                    <li class="about-card">José García Mayorga</li>
                                    <li class="about-card">2014059744</li>
                                    <li class="about-card">23 años</li>
                                    <li class="about-card">Estudiante de Ing. Computación</li>
                                </ul>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-12 col-xl-6 divisor">
                <mat-card>
                    <div class="row">
                        <mat-card-title>
                            <h2>Sobre el curso:</h2>
                        </mat-card-title>
                        <div class="col-12 col-xl-3 text-center">
                            <img class="image" mat-card-image src="./assets/images/desweb.jpg" alt="Icono de web">
                        </div>
                        <div class="col-12 col-xl-5">
                            <mat-card-content class="content">
                                <ul>
                                    <li class="about-card">Introducción al desarrollo de páginas web</li>
                                    <li class="about-card">Código: IC8057</li>
                                    <li class="about-card">Profesora: Ericka Solano</li>
                                    <li class="about-card">Verano 2019</li>
                                </ul>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row divisor">
            <div class="col-12 col-xl-12">
                <mat-card>
                    <mat-card-title class="text-center">
                        <h2>Trabajos del curso</h2>
                    </mat-card-title>
                    <ngb-tabset justify="justified">
                        <ngb-tab title="TAREAS">
                            <ng-template ngbTabContent>
                                <div>
                                    <ol>
                                        <li class="mini-card">
                                            <a href="./../../assets/docs/Tareas/WebEvolutionJoseGarcia.jpg">Internet
                                                Evolution TimeLine</a>
                                        </li>
                                        <li class="mini-card">
                                            <a href="./../../assets/docs/Tareas/FullStack Developer José García.pdf">Becoming
                                                a Full WEB Stack
                                                Dev</a>
                                        </li>
                                        <li class="mini-card">
                                            <a routerLink="/calendario">Calendario JS</a>
                                        </li>
                                        <li class="mini-card">
                                            <a routerLink="/login">Login JS</a>
                                        </li>
                                    </ol>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="LABORATORIOS">
                            <ng-template ngbTabContent>
                                <div>
                                    <ol>
                                        <li class="mini-card">
                                            <a routerLink="/maps">MAPA Lab 3</a>
                                        </li>
                                        <li class="mini-card">
                                            <a routerLink="/maps">MAPA Lab 4</a>
                                        </li>
                                    </ol>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="INVESTIGACIONES">
                            <ng-template ngbTabContent>
                                <div>
                                    <ol>
                                        <li class="mini-card">ﾉㄕ∆И∆ ﾉㄕ∆И∆ ﾉㄕ∆И∆</li>
                                        <li class="mini-card">ﾉㄕ∆И∆ ﾉㄕ∆И∆ ﾉㄕ∆И∆</li>
                                    </ol>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="PROYECTO">
                            <ng-template ngbTabContent>
                                <div>
                                    <ol>
                                        <li class="mini-card">ﾉㄕ∆И∆ ﾉㄕ∆И∆ ﾉㄕ∆И∆</li>
                                        <li class="mini-card">ﾉㄕ∆И∆ ﾉㄕ∆И∆ ﾉㄕ∆И∆</li>
                                    </ol>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    <mat-card-content>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row footer">
            <div class="col-6 mx-auto text-center"><span>José García || 2019</span></div>
        </div>
    </div>
</div>