@import "~leaflet/dist/leaflet.css";
@font-face {
  font-family: 'Arame';
  src: url('./assets/fonts/ARAME/Arame.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}
.mat-tab-body-content {
height: 800px !important;
}

/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();
$mat-myapp-primary: (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$mat-myapp-secondary: (
  50: #fdfdfd,
  100: #f9fbfb,
  200: #f6f8f8,
  300: #f2f5f5,
  400: #eff2f3,
  500: #ecf0f1,
  600: #eaeeef,
  700: #e7eced,
  800: #e4e9eb,
  900: #dfe5e7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-myapp-accent: (
  50: #fffaed,
  100: #fff4d1,
  200: #ffecb3,
  300: #ffe494,
  400: #ffdf7d,
  500: #ffd966,
  600: #ffd55e,
  700: #ffcf53,
  800: #ffca49,
  900: #ffc038,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff5e1,
  A700: #ffedc8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$error: mat-palette($mat-red);
$primary: mat-palette($mat-myapp-primary);
$secondary: mat-palette($mat-myapp-secondary);
$theme: mat-light-theme($primary, $secondary, $error);
@include angular-material-theme($theme);
* {
  font-family: Univers-Condensed;
  mat-icon {
    font-family: 'Material Icons' !important;
  }
  mat-drawer-container {
    background-color: map-get($secondary, 200) !important;
  }
  .mat-drawer-container {
    background-color: map-get($secondary, 200) !important;
  }
  mat-card {
    background-color: map-get($secondary, 200) !important;
    &.wizard {
      background-color: #ffffff !important;
    }
  }
  mat-card-title {
    $accent: map-get($theme, primary);
    color: mat-color($accent);
    font-family: Maven-Bold !important;
  }
  snack-bar-container.error-class {
    background: map-get($error, 300);
  }
  snack-bar-container.success-class {
    background: #00973c;
  }
  snack-bar-container.warning-class {
    background: #ff9933;
  }
  .error-class .mat-simple-snackbar {
    color: white;
  }
  .success-class .mat-simple-snackbar {
    color: white;
  }
  .warning-class .mat-simple-snackbar {
    color: white;
  }
  .mat-menu-panel {
    min-width: 226px !important;
  }
  .mat-expansion-panel {
    color: unset;
  }
  .mat-form-field-label {
    font-size: 15px !important;
  }
  mat-select {
    &.form-control {
      border: none;
    }
  }

  .mat-tooltip {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rejected-hm {
    color: map-get($error, 300);
    font-weight: bold;
  }
  mat-error{
      font-size: 16px;
  }

  mat-form-field-label{
    font-size: 20px !important;
  }
}
